.btn {
    background-color: #222;
    color: #fff;

    text-decoration: none;

    padding: 0.7em 1.2em;

    border: none;

    transition: 0.5s;

    cursor: pointer;
}

.btn:hover {
    color: #FFBB33;
}