.message {
    text-align: center;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 2em;
    border: 1px solid #000;
    border-radius: 5px;
}

.sucess {
    background-color: #D4EDDA;
    color: #155724;
    border-color: #C356CB;
}

.error {
    background-color: #721c24;
    color: #f8d7da;
    border-color: #f5c6cb;
}